<footer class="website-footer">
    <div class="footer-container">
        <div class="information">
            Information
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
        <div class="contact">
            Contact us with:
            <ul>
                <li>GMail: example@gmail.com</li>
                <li>Phone Number 1: +380 **-***-**-**</li>
                <li>Phone Number 2: +380 **-***-**-**</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
        <div class="something">
            Something
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
    </div>
</footer>