
.day-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 150px;
    margin: 20px;
    padding: 20px 10px;
    width: 60%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.day-item > div {
    margin: auto auto;
}


.day-item__description-container {
    grid-column-start: 2;
    grid-column-end: -1;
}

.image-container__image {
    width: 200px;
    height: 100px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.image-container__image:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.day-item__date-container {
    font-size: 22px;
}
.steps-container__steps-img {
    font-size: 30px;
}
.steps-container__steps {
    font-size: 24px;
}
.city-container__city-img {
    font-size: 30px;
}
.city-container__city {
    font-size: 24px;
}

.day-item__open-day-container {
    margin: auto auto;
}
.day-item__open-day-container > a {
    font-size: 28px;
    padding: 10px 50px;
}

.day-item__description-container {
    line-height: 20px;
}