@import url("./style_button.css");
@import url("./style_image.css");

.image {
    width: 40%;
}
.main-image-container {
    text-align: center;
}

.day__info {
    justify-content: space-around;
    width: 50%;
    margin: 2% auto;
}
.day__note {
    color: grey;
    margin: 10px;
}

.day__steps-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.day__city-img {
    width: 15px;
    height: 25px;
    margin-right: 5px;
    position: relative;
    bottom: 10px;
}
.day__description,
.day__content,
.day_no_images {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    line-height: 20px;
}