<div class="weekly-steps">
    <div class="day-step-container">
        <p class="day-name"></p>
        <p class="day-step"></p>
    </div>
    <div class="day-step-container">
        <p class="day-name"></p>
        <p class="day-step"></p>
    </div>
    <div class="day-step-container">
        <p class="day-name"></p>
        <p class="day-step"></p>
    </div>
    <div class="day-step-container">
        <p class="day-name"></p>
        <p class="day-step"></p>
    </div>
    <div class="day-step-container">
        <p class="day-name"></p>
        <p class="day-step"></p>
    </div>
    <div class="day-step-container">
        <p class="day-name"></p>
        <p class="day-step"></p>
    </div>
    <div class="day-step-container">
        <p class="day-name"></p>
        <p class="day-step"></p>
    </div>
</div>