<!DOCTYPE html>
<html lang="en">
<head>
    <title>About - Memoryful Day</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_footer.css') }}">
</head>
<body>
    {% include 'blocks/header.html' %}
    <main>
        Not implemented yet :(
    </main>
    {% include 'blocks/footer.html' %}
</body>
</html>