<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ get_month_name(month) }} {{ dayNumber }} ({{ year }}) - Memoryful Day</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_full_day.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_fullscreen_image.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_modals/style_modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_modals/new_day.css') }}">

    <script src="{{ url_for('static', filename='scripts/script.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/fullscreen_image_opener.js') }}" type="text/javascript"></script>
    <script defer src="{{ url_for('static', filename='scripts/scripts_modals/modal.js') }}" type="text/javascript"></script>
    <script defer src="{{ url_for('static', filename='scripts/scripts_modals/new_day.js') }}" type="text/javascript"></script>
</head>
<body>

    {% include 'blocks/header.html' %}

    <main>
        <div class="main-container">
            <div class="main-image-container">
                <img class="image" alt="Main image of this day"
                src="{{ url_for('static', filename='images/calendar/' + user + '/' + day.findMainImage().source) }}">
            </div>
            <div class="day__info-container">
                <div class="flex day__info">
                    <span>
                        {{ year }}
                        <b>{{ get_month_name(month) }}</b>
                        {{ dayNumber }}
                    </span>
                    <span>
                        <img class="day__city-img" alt="maps icon" src="https://th.bing.com/th/id/OIP.DTrytJh3pDBSguzzeLDXUgHaKn?w=122&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7">
                        {{ day.getCity() }}
                    </span>
                    <span>
                        <img class="day__steps-img" alt="step_img.png" src="{{ url_for('static', filename='images/step_img.png') }}">
                        {{ day.steps }}
                    </span>
                </div>
                {% if day.tags %}
                    <div class="flex day__info">
                        <span>
                            {% for tag in day.tags %}
                                <a href="{{ url_for('search.search', tags=tag.name)}}" title="Open days under this tag"># {{ tag.name }}</a>
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}

                <h4 class="day__note">Short description</h4>
                <p class="day__description">{{ day.description }}</p>

                <h4 class="day__note">Content of the day</h5>
                <p class="day__content">{{ day.content }}</p>
            </div>

            <h4 class="day__note">Photogallery</h4>

            {% if day.findOtherImages() %}
                {% for image in day.findOtherImages() %}
                    <img class="image fullscreenable" src="{{ url_for('static', filename='images/calendar/' + user + '/' + image.source) }}" alt="Other Image">
                {% endfor %}
            {% else %}
                <p class="day_no_images">No images</p>
            {% endif %}

            <div>
                <button class="left-right open-modal__write-day">
                    Edit Day
                </button>
                <button class="left-right">
                    <a href="{{ url_for('calendar.month', year=year, month=month) }}">
                        Go back
                    </a>
                </button>
            </div>
        </div>

        {% include 'modals/new_day.html' %}

        {% include 'modals/fullscreen_image.html' %}

    </main>

    {% include 'blocks/footer.html' %}

    <script>
        const descriptionArea = document.getElementById("description");
        const contentArea = document.getElementById("content");
        const loadMainImageElement = document.getElementById("main-image");
        const mainImagePreviewElement = document.querySelector(".main-image-preview");
        const loadOtherImagesElement = document.getElementById("other-images");
        const otherImagesPreviewElement = document.querySelector(".other-images-preview");

        contentArea.addEventListener("input", () => {
            contentArea.style.height = "auto";
            contentArea.style.height = contentArea.scrollHeight + "px";
        });
        loadMainImageElement.addEventListener("change", function() {
            mainImagePreviewElement.src = ""
            if (loadMainImageElement.files && loadMainImageElement.files[0]) {
                let reader = new FileReader();
                reader.readAsDataURL(loadMainImageElement.files[0]);
                reader.onload = function(e) {
                    mainImagePreviewElement.src = e.target.result;
                }
            }
        });
        loadOtherImagesElement.addEventListener("change", function() {
            otherImagesPreviewElement.innerHTML = "";
            if (loadOtherImagesElement.files && loadOtherImagesElement.files[0]) {
                for (image of loadOtherImagesElement.files) {
                    let reader = new FileReader();
                    reader.readAsDataURL(image);

                    let otherImageElement = document.createElement("img");
                    otherImageElement.classList.add("image");

                    reader.onload = function(e) {
                        otherImageElement.src = e.target.result;
                    };
                    otherImagesPreviewElement.appendChild(otherImageElement);
                }
            }
        });

        function getCompletion() {
            let query = contentArea.value;
            let url = `http://localhost:5000/api/ask_gpt?query=${query}`;
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    console.log(data);
                    descriptionArea.value = data
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
    </script>
</body>
</html>